.header__container {
    width: 89.3vw;
    margin: 0 auto;
    border: 1px solid var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background: #cbebf1;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}
.header {
    margin-top: 2vh;
    &__inner {
        height: 11vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.about {
    font-size: 2.7vw;
    width: 34.4vw;
    &__name {
        text-transform: uppercase;
        font-family: Catamaran;
        font-weight: 400;
        margin-left: 2px;
    }

    &__balancegive {
        padding: 0.5vh 9px;
        font-family: Onest;
        height: 3.22vh;
        background: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
        border-radius: 10px;
        text-align: center;
        font-weight: 400;
        a {
            display: inline-block;
            position: relative;
            z-index: 1;
            padding: 5px;
            margin: -5px;
            text-decoration: none;
            color: black;
            text-transform: lowercase;
        }
    }
}
    .balance {
        font-family: Onest;
        display: flex;
        background: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
        width: 17.33vw;
        font-weight: 400;
        font-size: 2.7vw;
        height: 5.85vh;
        padding: 7px 14px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        pointer-events: none;
        cursor: default;
        a {
            margin-top: 2px;
        }
    
    }
.options {
    display: flex;
    justify-content: space-between;
}
.notification{
    height: 3.36vh;
    width: 6.67vw;

}
.settings {
    margin-left: 5px;
    height: 3.36vh;
        width: 6.67vw;
}

.advertising {
    margin-top: 1.23vh;
    width: 89.3vw;
    &__blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &_1,
        &_2,
        &_3,
        &_4 {
            width: 20.3vw;
            height: 10.2vh;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            background: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
        }
    }
}

.motivation {
    margin-top: 1.23vh;
    height: 16.43vh;
    width: 89.3vw;
    padding: 15px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #cbebf1;
    background: linear-gradient(112deg, #fffef6 21.46%, #edebf7 107.28%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
    gap: 10px;
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        &_title {
            color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
            font-family: Firs;
            font-size: 3.5vw;
            font-weight: 500;
        }
        &_subtitle {
            color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
            font-family: Catamaran;
            font-size: 2.2vw;
            font-weight: 400;
        }
    }
}

.progress {
    display: block;
    width: 89.3vw;
    height: 17.4vh;
    margin-top: 1.23vh;
    padding: 2.31vh 10px 20px 10px;
    border-radius: 10px;
    border: 1px solid #cbebf1;
    background: linear-gradient(102deg, #fffef6 11.35%, #edebf7 102.05%);
    box-shadow: 0px 4px 4px 0px #f1eff7 inset;
    text-align: left;
    text-decoration: none; 
    color: black; 
    &__title {
        color: #344b57;
        font-family: Firs;        
        font-size: 4vw;
        font-style: normal;
        font-weight: 500;
    }
    &__bar {
        width: 100%;
        border-radius: 50px;
        background: #fbfffe;
        height: 3.3vh;
        margin: 2vh 0;
        &-fill {
            height: 100%;
            border-radius: 50px;
            background: #cbebf1;
            width: 30%;
        }
    }
    &__subtitle {
        color: #344b57;
        font-family: Firs;       
        font-size: 4vw;
        font-weight: 500;
        svg {
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}
.menu {
    font-family: Firs;
    margin-top:  1.3vh;
    width: 89.3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12.4vh 12.4vh;
    gap: 1vh;
    &__blocks {
        width: 43.47vw;
        padding: 40px 28px;
        border-radius: 10px;
        text-align: center;
        border: 1px solid var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
        background: #cbebf1;
        box-shadow: 0px 4px 4px 0px #bedadf inset;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: center;
        color: #344b57;
        font-size: 4vw;
        font-style: normal;
        font-weight: 500;
        align-items:center;
        svg {
            position: relative;
            top: 2px;
            left: 5px;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 6.98vh;
    z-index: 3;
    width: 89.3vw;
    padding: 6px 30px;
    border-radius: 50px;
    background: #f5f5f5;
    margin-bottom: 24px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        &_1,
        &_2,
        &_3,
        &_4,
        &_5 {
            img {
                width: 10.67vw;
                height: 5.37vh;
            }
        }
    }
}