.about__game {
    width: 89.3vw;
    padding: 1.85vh 10px;
    margin-top:  1.29vh;
    border-radius: 10px;
    border: 1px solid #cbebf1;
    background: linear-gradient(112deg, #fffef6 21.46%, #edebf7 107.28%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
    &-title {
        color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
        font-family: Firs;
        font-size: 4vw;
        font-weight: 500;
        height: 15px;
    }
    &-subtitle {
        margin-top: 10px;
        color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
        font-family: Catamaran;
        font-size: 2.7vw;
        font-weight: 400;
        text-align: start;
    }
}

.block {
    width: 89.3vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 8vh;
    padding: 1.85vh 10px;
    margin-top:  1.3vh;
    border-radius: 10px;
    border: 1px solid #cbebf1;
    background: linear-gradient(102deg, #fffef6 11.35%, #cbebf1 102.05%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
}

.series__block-logo img {
    margin-right: 10px;
    margin-top: 5px;
}

.main-text {
    flex-grow: 1;
    &__title {
        font-family: Firs;
        font-size: 3.6vw;
        font-weight: 500;
    }
    &__subtitle {
        color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
        font-family: Firs;
        font-size: 2.4vw;
        font-weight: 400;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 80vw;
    height: 85vh;
    max-width: 292px;
    max-height: 586px;
    border-radius: 10px;
    border: 1px solid #1e96b1;
    background: linear-gradient(102deg, #fffef6 11.35%, #cbebf1 102.05%);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.image__logo {
    width: 10vw;
    max-width: 38px;
    height: auto;
    margin-right: 5px;
}

.title {
    font-size: 3.6vw;
    margin: 0;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    text-align: center;
    font-family: Firs;
    font-style: normal;
    font-weight: 500;
}

.subtitle {
    font-size: 2.2vw;
    margin: 0;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    text-align: center;
    font-family: Firs;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}


.modal-image {
    width: 61vw;
    height: 20vh;
    max-width: 229px;
    max-height: 145px;
    margin-bottom: 2.31vh;
}

.modal-text {
    width: 100%;
    font-size: 2.5vw;
    color: #000;
}

.text {
    margin-bottom: 8px;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Catamaran;
    font-size: 2.5vw;
    font-weight: 400;
}

.list {
    margin-left: 10px;
    margin-bottom: 8px;
    ol {
        list-style: decimal;
    }
}


.buy-btn {
    width: 48vw;
    max-width: 180px; 
    padding: 10px 19px;
    background-color: #1e96b1;
    color: white;
    font-size: 2.5vw;
    border: 1px solid #1e96b1;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
    color: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
    text-align: center;
    font-family: Onest;
    font-size: 2.5vw;
    font-weight: 400;
}


.modal:active {
    display: none;
}
