
.referal-programm {
    margin-top: 1.23vh;
    width: 100%;
    height: 22.11vh;
    padding: 1.3vh 2.67vw 1.85vh 4vw;
    border-radius: 10px;
    border: 1px solid #ddc5e9;
    background: linear-gradient(102deg, #fffef6 11.35%, #edebf7 102.05%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
    &__maintext {
        display: flex;
        align-items: center;
        margin-bottom: -10px;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
}
.h2-referal {
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Firs;
    font-size: 3.5vw;
    font-weight: 500;
    text-decoration: none;
}
.referal-programm__p {
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Catamaran;
    font-size: 3vw;
    font-weight: 400;
    margin-top: 1.54vh;
    font-weight: 400;
    p {
        margin-bottom: 0.5vh;
    }
}
.referal-programm__p p:last-child {
    margin-bottom: 0;
}

.referal-link {
    margin-top: 1.54vh;
    width: 100%;
    padding: 1.3vh 4vw 1.85vh 4vw;
    border-radius: 10px;
    background: linear-gradient(102deg, #fffef6 11.35%, #cbebf1 102.05%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
    &__maintext {
        display: flex;
        align-items: center;
        margin-bottom: 1.2vh;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
    &__p {
        P {
            color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
            font-family: Catamaran;
            font-size: 3vw;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 1.2vh;
        }
        .h2-referal {
            margin-bottom: 1.2vh;
            font-weight: 500;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
        text-align: center;
        font-family: Onest;
        font-size: 2.7vw;
        font-style: normal;
        font-weight: 400;
        width: 100%;
        height: 5.23vh;
        padding: 7px 15px;
        border-radius: 10px;
        border: 1px solid #cbebf1;
        background: #1e96b1;
        transition: 0.3s ease;
    }
    &__btn:focus{
        outline: none;
    }
    &__btn:active{
    background: #125f6c;
    }
}

.conclusion {
    margin-top: 1.54vh;
    width: 100%;
    height: 25.4vh;
    padding: 1.3vh 4vw;
    border-radius: 10px;
    border: 1px solid #ddc5e9;
    background: linear-gradient(102deg, #fffef6 11.35%, #edebf7 102.05%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
    margin-bottom: 11vh;
    &__maintext {
        display: flex;
        align-items: center;
        margin-bottom: 1.85vh;
        img {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
}

.currency-block {
    margin-top: 1.83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.23vh;
    border-radius: 10px;
    border: 1px solid #cbebf1;
    background: linear-gradient(102deg, #fffef6 11.35%, #cbebf1 102.05%);
}

.currency-amount {
    display: flex;
    color: #242424;
    font-family: Onest;
    font-size: 3.5vw;
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 2px;
    img {
        width: 18px;
        height: 18px;
    }
}

.dollar-equivalent {
    color: #acacac;
    text-align: center;
    font-family: Onest;
    font-size: 2.7vw;
    font-weight: 400;
}
.currency {
    display: flex;
    align-items: center;
    margin-top: 1.3vh;
    width: 100%;
    a {
        margin-left: 0.5vw;
    }
}
.currency-container {
    display: flex;
    width: 70.4vw;
    height: 5.23vh;
    border-radius: 10px;
    border: 1px solid #1e96b1;
    overflow: hidden;
    background-color: #f9f9f9;
}

.amount-input {
    width: 50%;
    flex: 1;
    border: none;
    padding-left: 4vw;
    padding-top: 1.23vh;
    padding-bottom: 1.23vh;
    padding-right: 6px;
    color: #a6a8a7;
    font-family: Onest;
    font-size: 2.7vw;
    font-weight: 400;
    outline: none;
}
.amount-input::placeholder {
    color: #a6a8a7;
    font-family: Onest;
    font-size: 2.7vw;
    font-weight: 400;
}
.withdraw-button {
    width: 50%;
    padding: 1.23vh 4vw;
    cursor: pointer;
    color: var(--Miscellaneous-Sidebar-Fill---Selected, #fff);
    text-align: center;
    font-family: Onest;
    font-size: 10px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #1e96b1;
    background: #1e96b1;
    transition: 0.3s ease;
}
.withdraw-button:focus{
    outline: none;
}

.withdraw-button:active{
    background: #125f6c;
    }