html {
    overflow-x: hidden;
}

.swiper-page4.swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.swiper-page4 .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(102deg, #fffef6 11.35%, #edebf7 102.05%);
}

.swiper-slide__image {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
}
.swiper-slide__image.half-image{
max-height: 50%;
}
.text-container {
    margin: 8vw 0 0 0;
    width: 70vw;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Catamaran;
    font-size: 3.7vw;
    font-weight: 400;
    line-height: 4vw;
    pre{
        color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
        white-space: pre-wrap;
        word-wrap: break-word;
        font-weight: 400;
        line-height: 4vw;
        font-size: 3vw;
        font-family: Catamaran;
    }
}
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3.69vh;
    &__btn {
        width: 84.27vw;
        padding: 10px 19px;
        text-decoration: none;
        border-radius: 10px;
        background: linear-gradient(271deg, #edebf7 -35.22%, #ecd3f8 37.21%, #cbebf1 168.81%);
        color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
        text-align: center;
        font-family: Onest;
        font-size: 2.47vw;
        font-weight: 400;
        border: none;
    }
}

#player-container {
    display: flex;
    align-items: center;
    background-color:  #f2f3f5;
    border: 1px solid  #f2f3f5;
    padding: 6px 12px;
    border-radius: 20px;
    width: 84.27vw;
    font-family: Onest;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
}
.play-pause-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.play-pause-btn svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}


div[id^="waveform-"] {
    flex-grow: 1;
    margin: 0 10px;
    height: 40px;
}

.time-display {
    font-size: 12px;
    color: #666;
    min-width: 40px;
    text-align: center;
}

.icon-overlay {
    position: absolute;
    bottom: 150px;
    right: 50px;
    z-index: 10;
    display: block;
}

.icon-overlay img {
    width: 62px;
    height: 62px;
}
.exercise {
    display: flex;
    justify-content: center;
    width: 81.87vw;
    padding: 15px 10px;
    border-radius: 10px;
    background: linear-gradient(271deg, #edebf7 -35.22%, #ecd3f8 37.21%, #cbebf1 168.81%);
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Firs;
    font-size: 3.7vw;
    font-weight: 500;
}
.exercise-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8vw 0vh 0px 0vw;
    line-height: 3vw;
    width: 84.27vw;
    font-size: 3.7vw;
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: Catamaran;
        font-size: 3.7vw;
        line-height: 4vw;
    }
    pre:last-child {
        margin-bottom: 20px;
    }
}
.response-block {
    width: 84.27vw;
    height: 27.61vh;
    padding: 15px 10px 15px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddc5e9;
    background: linear-gradient(102deg, #fffef6 11.35%, #edebf7 102.05%);
    box-shadow: 0px 4px 4px 0px #dbdbdb inset;
}

.response-label {
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Firs;
    font-size: 3.7vw;
    font-style: normal;
    font-weight: 500;
}

.response-input {
    flex-grow: 1;
    resize: none;
    overflow-y: auto;
    margin-bottom: 10px;
    border: none;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    font-family: Firs;
    font-size: 2.7vw;
    font-weight: 100;
    background: rgba(237, 235, 247, 0.23);
}
.response-input:focus {
    outline: none;
}

.response-button {
    height: 4.19vh;
    padding: 7px 4vw;
    font-size: 2.5vw;
    color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #000);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(271deg, #edebf7 -35.22%, #ecd3f8 37.21%, #cbebf1 168.81%);
    font-family: Firs;
}

#toast {
    visibility: hidden;
    min-width: 350px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Onest;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}